{% extends 'base.html' %}
{% block h %} 
<style>
    /* Custom styles for the body */
    body {
        background-image: url('static/images/f14c7597-783d-4597-93a5-005aa2364df0.jpg'); /* Replace with the actual path to your image */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0; /* Remove default margin to ensure full coverage */
    }

    .login-container {
        max-width: 400px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha channel for more transparency (0.3 is 70% transparent white) */
        backdrop-filter: blur(10px); /* Add a backdrop filter for a blur effect */
        border-radius: 10px;
        margin: auto; /* Center the container horizontally */
    }
</style> 
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- Your login form goes here -->
            <div class="login-container">
                <form method="post"  action="{{ url_for('index') }}">
                    <div class="form-group">
                        <label for="username">اسم المستخدم:</label>
                        <input type="text" class="form-control" id="username" name ="username" placeholder="ادخل اسم المستخدم">
                    </div>
                    <div class="form-group">
                        <label for="password">كلمة المرور:</label>
                        <input type="password" class="form-control" id="password" name ="password" placeholder="ادخل كلمة المرور">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">تسجيل الدخول</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
